/* Variables */
$gray: #BABABA;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

/* Navigation */

.main-navigation {

  width: 155px;
  padding: 24px;

  .main-navigation-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    a {
      font-weight: 500;
      color: $gray;
      padding: 7.5px 15px;
      text-decoration: none;
      display: flex;
      justify-content: center;
    }

    .active {
      background: #0000000f;
      border-radius: 5px;
      color: #1a1a1a;
    }
  }
}

.content {
  width: 500px
}

/* LAYOUT */

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
